/////////////////////////* font */////////////////////////


// font


/////////////////////////* color */////////////////////////


// color
$black: #000;
$white: #fff;
$red: #f00;

// $shadow: drop-shadow(1px 1px 2px #000);




